/* Add this to your existing CSS or create a new CSS file */
.navbar-dark .navbar-toggler-icon {
  background-color: #000; /* Set the background color to black */
}

.navbar-dark .navbar-toggler:focus,
.navbar-dark .navbar-toggler:hover {
  background-color: #000; /* Set the background color to black on focus/hover */
}

.navbar-dark .navbar-nav .nav-link {
  color: #df3535; /* Set the text color to white */
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #e63838; /* Set the text color to a lighter shade on focus/hover */
}

.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
  color: #e04141; /* Set the text color for active and open dropdown items */
}

.navbar-dark .navbar-nav .nav-item.dropdown:hover .dropdown-menu {
  background-color: #000; /* Set the background color of the dropdown menu to black on hover */
}

.navbar-dark .navbar-nav .nav-item.dropdown:hover .nav-link {
  color: #e63535; /* Set the text color of the dropdown toggle on hover */
}

.navbar-dark .navbar-nav .nav-item.dropdown.show .nav-link {
  color: #e72c2c; /* Set the text color of the dropdown toggle when the dropdown is open */
}

.navbar-1{
  height: fit-content;
}

.home,
.offers,
.about,
.login
{
  text-decoration: none;
  color: #2e6ca4;
  font-size: 25px;
  margin: 0;
  padding: 10px 15px;
  transition: all 0.5s ease;
  /* font-family:'Montserrat', sans-serif; */
  font-family: "Oxygen", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  line-height: 1;
  font-size: 20px;
  background-color: transparent;
  outline: none;
  border-radius: 10px;
}

.register {
  text-decoration: none;
  color: #ffff;
  /* border: 1px solid #183957; */
  background-color: #2e6ca4;
  font-size: 25px;
  margin: 0;
  padding: 10px 15px ;
  transition: all 0.5s ease;
  /* font-family:'Montserrat', sans-serif; */
  font-family: "Oxygen", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  line-height: 1;
  font-size: 20px;
  /* background-color: transparent; */
  outline: none;
  border-radius: 10px;
}

.home:hover,
.offers:hover,
.about:hover,
.login:hover {
  color: #ffff;
  background-color: #2e6ca4;
  border-radius: 10px;
  /* border: 1px solid #183957; */
  padding: 10px auto;
}

.register:hover{
  color: #2e6ca4;
  background-color: #ffff;
  padding: 10px auto;
  border: 1px solid #183957;
}

/* Font name: HelveticaNowMTText, Helvetica, Arial, sans-serif

Font size: 13px

Font weight: 400

Line height: 16px */
